VITE_FIREBASE_API_KEY=AIzaSyCxDfg-1r5dPD03uQQWIPiG3UFrnyqktyE
VITE_FIREBASE_AUTH_DOMAIN=jrguide-7d4ed.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jrguide-7d4ed
VITE_FIREBASE_STORAGE_BUCKET=jrguide-7d4ed.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=774202092057
VITE_FIREBASE_APP_ID=1:774202092057:web:deff64a944cfcf1eeed888
VITE_FIREBASE_MEASUREMENT_ID=G-QNLLMKM87F
